body{
	padding:0;
	margin:0;
	overflow-y:hidden;
	overflow-x:hidden; 
}
button{
	position:absolute;
}
.centrar{
	height: 700px;
	background-image: url("http://images8.alphacoders.com/375/375342.jpg");
}
.intro1{
	height:150;
	text-align: center;
	padding:25px;
	margin:0;
	color:red;
}
.boton{
	border-radius: 5%;
	height: 200px;
	width: 200px;
	font-size: 20px;
	text-align: center;
}
#b1{
	margin-left:175px; 
	margin-top:50px;
}
#b2{
	margin-left:550px; 
	margin-top:50px;
}
#b3{
	margin-left:925px; 
	margin-top:50px;
}
#b4{
	margin-left:175px; 
	margin-top:300px;
}
#b5{
	margin-left:550px; 
	margin-top:300px;
}
#b6{
	margin-left:925px; 
	margin-top:300px;
}